<img src="https://src/public/files/shoppingCart.jpg" style="max-height: 200px;">
<hr>
<div className="descproducto">
    <img src="{{product.thumbnails}}" alt="">
    <h2>Nombre del producto : {{product.title}}</h2>
    <h2>Precio: ${{product.price}}</h2>
    <h2>Categoria: {{product.category}}</h2>
    </Link>
    
    <p>Descripcion: {{product.description}}</p>
    <p className="indicacion"></p>
    

</div>
<hr>
<a href="/products"><h3>Volver a todos los productos</h3></a>
<a href="/"><h3>Volver al inicio</h3></a>

<link rel="stylesheet" type="text/css" href="/css/style.css">